<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="b05studio.com.seeyouagain">

    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="b05studio.com.seeyouagain.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="b05studio.com.seeyouagain.MissingPersonListActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="b05studio.com.seeyouagain.DetailActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="b05studio.com.seeyouagain.SearchActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="b05studio.com.seeyouagain.AlarmActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="b05studio.com.seeyouagain.RegisterActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="b05studio.com.seeyouagain.RegisterFirstActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="b05studio.com.seeyouagain.RegisterSecondActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="b05studio.com.seeyouagain.RegisterThirdActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="b05studio.com.seeyouagain.RegisterFourthActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="b05studio.com.seeyouagain.RegisterCheckActivity" android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>